/*
  -Setter opp gridsystem for responsive 
*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}

.col-xs-12{
    grid-column: auto / span 12;
}

.col-xs-6{
    grid-column: auto / span 6;
}

.col-xs-4{
    grid-column: auto / span 4;
}

@media (min-width > 768px){
    .col-sm-12{
        grid-column: auto / span 12;
    }
    .col-sm-6{
        grid-column: auto / span 6;
    }
    .col-sm-4{
        grid-column: auto / span 4;
    }
}

@media (min-width > 992px){
    .col-md-12{
        grid-column: auto / span 12;
    }
    .col-md-6{
        grid-column: auto / span 6;
    }
    .col-md-4{
        grid-column: auto / span 4;
    }

}

/*
    DESIGN PÅ HEADER: 
*/

.box-title{
    position: absolute;
    margin: 0;
    padding: 0;
    top: -32px;
    left: 4%;
    font-size: 32px;
    color: white;
    text-shadow: 4px 4px 10px rgb(179, 170, 44);
    }

    /* 
        MENYEN OPPE
    */
header{ 
    position: absolute;
    display: flex;
    justify-content: end;
    background-color: rgba(17, 7, 7, 0.361);
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid rgb(229, 234, 231);
}

header ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header li{
    margin-right: 24px;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 4px 4px 8px rgb(179, 170, 44);
}



/*
    DESIGN PÅ BODY
*/

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:#1F271B;
}


/* RESSURSER: */
.resources-item {
    position: fixed;
    top: 16%;
    width: 5%;
    max-width: 200px;
    height: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    background: none;
    border-radius: 30%;
}

.gold{
   left: 34%;
}

.metal{
    left: 46%;
}

.wood{
    right: 38%;
}

/*
    GOLD & METAL MINE:
*/

.gold-mine{
    position: absolute;
    top: 32%;
    left: 8%;
    border: 1px solid white;
    border-radius: 56%;
    height: 40vh;
    width: 40%;
    cursor: pointer;
}

.gold-mine:hover{
    height: 48vh;
    width: 48%;
    left: 4%;
    transition: height 1.5s ease-in-out, width 2.5s ease-in-out, left 1.5s ease-in-out;
}

.wood-forest{
    position: absolute;
    top: 32%;
    right: 2%;
    border: 1px solid white;
    border-radius: 56%;
    height: 40vh;
    width: 40%;
    cursor: pointer;
}

.wood-forest:hover{
    height: 48vh;
    width: 48%;
    right: 2%;
    transition: height 1.5s ease-in-out, width 2.5s ease-in-out, left 1.5s ease-in-out;
}





